div {
    display: inline-block;
}

body {
    overflow: hidden;
}

/*Info panes*/
.pane {
    width: 45%;
    height: 88vh;
    padding-top: 7vh;
    padding-bottom: 2vh;
}
.lukeinfo {
    vertical-align: top;
    padding-right: 4.5%;
}

.skillpane {
    padding-left: 4.5%;
    font-family: "Arkhip", Helvetica, "Trebuchet MS", sans-serif;
}

.name {
    text-align: center;
    display: block;
    width: 100%;
    height: auto;
    font-size: 48px;
    font-family: "Rage", Helvetica, "Trebuchet MS", sans-serif;
    color: #f1ff00;
}

.bio {
    width: 90%;
    padding-left: 5%;
    padding-top: 3%;
    height: auto;
    font-family: "Arkhip", Helvetica, "Trebuchet MS", sans-serif;
    color: #e3e5ff;
    text-justify: inter-word;
    text-align: justify;
    line-height: 110%;
}

.profilepic {
    padding-top: 2%;
    width: 100%;
    height: 50%;
    text-align: center;
}

.profilepic img {
    width: auto;
    height: 100%;
    text-align: center;
}

.skills {
    width: 80%;
    height: 40%;
    color: #e3e5ff;
    text-align: center;
}

.skills span {
    width: auto;
    height: auto;
}

.titlebar{
    font-size: 125%;
    color: #7d7d7d;
}

.skill ul li {
    padding-bottom: 10%;
}

.accomplishments {
    width: 80%;
    height: 60%;
    text-align: center;
}

.accomplishments span {
    height: auto;
    width: auto;
}